body {
  background: #fff;
}
.header .slider .slide-item {
  width: 100%;
}
.title-bar .text {
  text-align: center;
}
.title-bar .text h2 {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #343434;
}
.title-bar .text p {
  font-family: Georgia;
  font-style: italic;
  color: #484848;
  font-size: 15px;
  text-transform: none;
}
